<footer class="site-footer" id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">Wymarzony Pies</h2>
                        <p>Warszawa, Aleja Krakowska 279</p>
                        <p>mail: wymarzonypies@gmail.com</p>
                    </div>
                    <div class="col-md-3">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="https://www.facebook.com/wymarzonypies/" class="pl-0 pr-3"><span
                                class="icon-facebook"></span></a>
                        <a href="https://www.instagram.com/wymarzonypies/?hl=pl" class="pl-3 pr-3"><span
                                class="icon-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>